@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 16px;
}

.text-light {
  color: #fff;
}
.text-dark {
  color: #000;
}
.text-red {
  color: #BB000E;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding-top: 74px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #BB000E;
  width: 100%;
  color: #fff;
  z-index: 1;
}
.navbar-nav {
  display: flex;
  align-items: center ;
}

.logo {
  font-size: 36px;
  font-weight: bold;
}

.menu {
  margin-left: auto;
  margin-right: auto;
  list-style:none;
}
.menu li {
  display:inline-block;
}
.menu a {
  text-transform: capitalize;
  display: inline-block;
  padding: 12px;
  position: relative;
}
.menu a:after {
  content: "";
  width: 0px;
  height: 2px;
  background-color:black;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 300ms ease-out;
}
.menu a:hover:after {
  width: 100%;
}
.home .container .channel-link:hover{
     color: #BB000E;
    background: none;
}

section {
  padding-top: 100px;
}
.section-title {
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  margin: 60px 0;
  position: relative;
  padding-bottom: 18px;
}
.section-title:before,
.section-title:after {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.section-title:before {
  content: "";
  width: 180px;
  height: 3px;
  background-color: #000000;
}
.section-title:after {
  font-size: 20px;
  color: #BB000E;
  bottom: -10px;
  padding: 5px;
  background-color: white;
}
.about .content-item img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
.flex-content {
  display: flex;
  justify-content: space-between;
}
.content-item {
  flex: 1;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.card {
  border-radius: 8px;
  padding: 16px 24px;
  transition: all 300ms ease-out;
}
.card-title {
  font-size: 18px;
  font-weight: bold; 
  text-transform: uppercase;
}
.card-text {
  margin-top: 24px;
}

.home {
  height: 100vh;
  background: url('sketc.png') no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}
.home .welcome-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.welcome-text .hello-text {
  font-size: 28px;
}
.welcome-text .name {
  margin: 0;
  font-size: 74px;
}
.welcome-text .profession-text {
  margin: 0;
  font-size: 42px;
}
.welcome-text .channel-link {
  display: inline-block;
  margin-top: 16px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #BB000E;
}
.about .section-title:after {
  content:"who I am";
}
.about .headline {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 48px;
}

.videos .card {
  margin: 24px 32px;
  background-color: #BB000E;
  color: #fff;
}
.videos .card:hover {
  background-color: #BB000eee;
  box-shadow: 0 0 16px #BB000E;
  transform: scale(1.1);
}
.videos .card-title {     
  text-align: center;
}

.notes a {
  color: #BB000E
}
/*Contact*/
.contact .title{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: 'ubuntu', sans-serif;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}

.contact .title::after
{
    content:"get in touch";
    position: absolute;
    font-size: 20px;
    color:#BB000E;
    bottom: -10px;
    padding: 5px;
    left:50%;
    transform: translateX(-50%);
    background: white;
}
.contact .title::before 
{
    content:"";
    position: absolute;
    width: 180px;
    height:3px;
    bottom: 0px;
    left:50%;
    transform: translateX(-50%);
    background: #000000;
}
row {
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 20px 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: .5s;
}
.contact form .field{
    display: flex;
}
.contact form .field,
.contact .form .field .field{
    height:45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact form .textarea{
    height: 80px;
    width: 100%;
}
.contact form .field input,
.contact form .textarea textarea{
    height: 100%;
    width:100%;
    border: 1px solid  grey; 
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact form .name{
    margin-right: 10px;
}
.contact form .email{
    margin-left: 10px;
}
.contact .text{
    text-align:center;
    font-size: 20px;
    font-weight: 500;
    font-family: 'ubuntu', sans-serif;
    margin-bottom: 30px;
    padding-bottom: 0px;
    position: relative;
}
.contact form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact form .button{
    height: 47px;
    width: 170px;
} 
.contact form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid #BB000E;
    background: #BB000E;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 6px;
}
.contact form .button button:hover{
    color: #BB000E;
    background: none;
}
